# 配置数据源
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cm_vote?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver    
    
#thymeleaf 模板设置
  thymeleaf:
    cache: false
    mode: HTML5
    encoding: utf-8
    content-type: text/html
# 文件上传设置
  http:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  mvc:
    view:
      prefix: classpath:templates
      suffix: .html

# 设置上下文了路径
server:
  context-path: /vote-manage
  port: 8080

# mybatis配置
mybatis:
  mapper-locations: classpath:com/chunmi/vote/dao/*.xml
  type-aliases-package: com.chunmi.vote.*
  config-location: classpath:/mybatis-config.xml
  
  
