<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Echarts</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
<link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
</head>
<body>
    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>投票统计</h2>
		      	</div>
		  	</div>
			<div class="" style="margin-top: 8px;margin-bottom: 8px;">
				<button type="button" th:onclick="'javascript:goBack();'" class="btn btn-primary">返回</button>
			</div>
		  	<div id="main" style="width: 100%; height: 500px;"></div>
      	</div>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
	
    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>
	
	<!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    
    <!-- layerui -->
	<script th:src="@{/js/layer/layer.js}"></script>
	
	<!-- echarts -->
	<script th:src="@{/js/echarts.min.js}"></script>
    
    <script th:inline="javascript">
    /*<![CDATA[*/
		$(function(){
			var myChart = echarts.init(document.getElementById('main')); 
			/*
			 * 柱形图
			 */
			var option = {
				color: ['#3398DB'],
				title:{
					text:'投票统计概况',
					x:'center'
				},
			    legend: {
			        data:['票数'],
			        x:'left'
			    },
			    tooltip: {
			        trigger: 'axis', //触发类型，默认数据触发，可选为：'item' | 'axis'
			        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
			            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
			        }
			    },
			    toolbox: {
			        show : true,
			        feature : {
			            dataView : {show: true, readOnly: true},
			            magicType : {show: true, type: ['line', 'bar']},
			            saveAsImage : {show: true}
			        }
			    },
			    xAxis : [
			        {
			            type : 'category',
			            name : '组名',
			            data : [[${groupNames}]],
			            axisLabel:{
			            	rotate: 0   //设置x轴文本倾斜角度
			            },
			            axisTick: {
			                alignWithLabel: true
			            }
			        }
			    ],
			    yAxis : [
			        {
			            type : 'value',
			            name : '票数',
			            splitArea:{
			            	show:true,
			            },
			            axisLabel:{
							formatter:'{value}票'
			            },
			            axisTick: {
			                alignWithLabel: true
			            }
			        }
			    ],
			    series : [
			        {
			            name: '票数',
			            type: "bar",
			            data: [[${voteGetNums}]],
			            barWidth: '23%'           
			        }
			    ],
			    label: {
		            normal: {
		                show: true,
		                position: 'top',
		                formatter: '{c}'
		            }
		        },
		    	itemStyle: {
		                normal: {
		                 
		                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
		                        offset: 0,
		                        color: 'rgba(17, 168,171, 1)'
		                    }, {
		                        offset: 1,
		                        color: 'rgba(17, 168,171, 0.1)'
		                    }]),
		                    shadowColor: 'rgba(0, 0, 0, 0.1)',
		                    shadowBlur: 10
		                }
		        }
			};
			myChart.setOption(option);
		});
    
    	//返回
    	function goBack(){
    		history.back();
    	}
		
	/*]]>*/
	</script>

</body>

</html>
